# Next.js build files and dependencies
trionforge-sports/node_modules/
trionforge-sports/.next/
trionforge-sports/out/
trionforge-sports/build/

# Local env files
trionforge-sports/.env*.local

# Editor/OS files
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.idea/
.vscode/

# Build caches & logs
trionforge-sports/tsconfig.tsbuildinfo
trionforge-sports/npm-debug.log*
trionforge-sports/yarn-debug.log*
trionforge-sports/yarn-error.log*
trionforge-sports/.pnpm-debug.log*
